h2,h1{line-height:1%;}
body {
    background: rgb(253, 253, 253)

}

.button {
    width: 100px;
    height: 100px;
    text-align: center;
    color: darkcyan;
    margin: 0 40px 40px 0;
    position: relative;
    border: 6px solid rgb(97, 150, 172);
    background: rgb(253, 253, 253);
    font-size: 20px;
    border-radius: 50%;
    bottom: 0;    
    margin: auto; 
    
}